@model ProductDetailViewModel

<section>
    <h1>Name : @Model.Name</h1>
    <h1>Description : @Model.Description</h1>
    <h1>Price : @Model.Price</h1>
    <h3>Discount : <b>@Model.Discount</b></h3>
    <img src="@Model.ImageLink" alt="Image"/>
</section>
